## The given dataset had lots of unwanted columns and lots of empty rows.

### Initial Data Cleaning has been done in Excell.

### Now for further Data Cleaning and Manipulation I am going to import it to the Jupyter Notebook.

In [ ]:
#importing pandas to read the csv file
import pandas as pd

In [ ]:
initl_cleaned = pd.read_csv(r"C:\Users\Danish\OneDrive\Desktop\InitiallyCleaned_Excel.csv", encoding = "ISO-8859-1")

In [ ]:
#checking first five rows
initl_cleaned.head()

,year,month,day,country_code,country,region_code,region,state,city,latitude,...,target_type_code,target_type,targsubtype_code,targsubtype,killed,wounded,target,group,weapon_type_code,weapon_type
0,1970,1,1,217,United States,1,North America,Illinois,Cairo,37.005105,...,3,Police,22,"Police Building (headquarters, station, school)",0,0.0,Cairo Police Headquarters,Black Nationalists,5,Firearms
1,1970,1,2,218,Uruguay,3,South America,Montevideo,Montevideo,-34.891151,...,3,Police,25,Police Security Forces/Officers,0,0.0,Juan Maria de Lucah/Chief of Directorate of in...,Tupamaros (Uruguay),5,Firearms
2,1970,1,2,217,United States,1,North America,California,Oakland,37.791927,...,21,Utilities,107,Electricity,0,0.0,Edes Substation,Unknown,6,Explosives
3,1970,1,2,217,United States,1,North America,Wisconsin,Madison,43.076592,...,4,Military,28,Military Recruiting Station/Academy,0,0.0,"R.O.T.C. offices at University of Wisconsin, M...",New Year's Gang,8,Incendiary
4,1970,1,3,217,United States,1,North America,Wisconsin,Madison,43.072950,...,2,Government (General),21,Government Building/Facility/Office,0,0.0,Selective Service Headquarters in Madison Wisc...,New Year's Gang,8,Incendiary

In [ ]:
#checking if there is any null value left.
initl_cleaned.isnull().sum()

# In the data below city has 383 null values. The city of explosion in this case is not known.

year                  0
month                 0
day                   0
country_code          0
country               0
region_code           0
region                0
state                 0
city                383
latitude              0
longitude             0
attack_type_code      0
attack_type           0
target_type_code      0
target_type           0
targsubtype_code      0
targsubtype           0
killed                0
wounded               0
target                0
group                 0
weapon_type_code      0
weapon_type           0
dtype: int64

In [ ]:
#checking if there is any duplicate data

initl_cleaned.duplicated().sum()

8915

In [ ]:
#Removing the duplicate data and storing the final dataset.

final_data = initl_cleaned.drop_duplicates()

In [ ]:
final_data.duplicated().sum()

0

In [ ]:
#checking final data head
final_data.head(15)

,year,month,day,country_code,country,region_code,region,state,city,latitude,...,target_type_code,target_type,targsubtype_code,targsubtype,killed,wounded,target,group,weapon_type_code,weapon_type
0,1970,1,1,217,United States,1,North America,Illinois,Cairo,37.005105,...,3,Police,22,"Police Building (headquarters, station, school)",0,0.0,Cairo Police Headquarters,Black Nationalists,5,Firearms
1,1970,1,2,218,Uruguay,3,South America,Montevideo,Montevideo,-34.891151,...,3,Police,25,Police Security Forces/Officers,0,0.0,Juan Maria de Lucah/Chief of Directorate of in...,Tupamaros (Uruguay),5,Firearms
2,1970,1,2,217,United States,1,North America,California,Oakland,37.791927,...,21,Utilities,107,Electricity,0,0.0,Edes Substation,Unknown,6,Explosives
3,1970,1,2,217,United States,1,North America,Wisconsin,Madison,43.076592,...,4,Military,28,Military Recruiting Station/Academy,0,0.0,"R.O.T.C. offices at University of Wisconsin, M...",New Year's Gang,8,Incendiary
4,1970,1,3,217,United States,1,North America,Wisconsin,Madison,43.072950,...,2,Government (General),21,Government Building/Facility/Office,0,0.0,Selective Service Headquarters in Madison Wisc...,New Year's Gang,8,Incendiary
5,1970,1,1,217,United States,1,North America,Wisconsin,Baraboo,43.468500,...,4,Military,27,Military Barracks/Base/Headquarters/Checkpost,0,0.0,Badger Army ammo depot.,"Weather Underground, Weathermen",6,Explosives
6,1970,1,6,217,United States,1,North America,Colorado,Denver,39.758968,...,4,Military,28,Military Recruiting Station/Academy,0,0.0,"Army Recruiting Station, Denver Colorado",Left-Wing Militants,8,Incendiary
7,1970,1,8,98,Italy,8,Western Europe,Lazio,Rome,41.890961,...,6,Airports & Aircraft,42,Aircraft (not at an airport),0,0.0,Flight 802 Boeing 707,Unknown,5,Firearms
8,1970,1,9,217,United States,1,North America,Michigan,Detroit,42.331685,...,2,Government (General),21,Government Building/Facility/Office,0,0.0,Packard Properties building of Detroit Michigan,Left-Wing Militants,8,Incendiary
9,1970,1,9,217,United States,1,North America,Puerto Rico,Rio Piedras,18.386932,...,1,Business,7,Retail/Grocery/Bakery,0,0.0,Baker's Store,Armed Commandos of Liberation,8,Incendiary
10,1970,1,12,217,United States,1,North America,New York,New York City,40.697132,...,8,Educational Institution,49,School/University/Educational Building,0,0.0,James Madison High School,Black Nationalists,6,Explosives
11,1970,1,12,217,United States,1,North America,Puerto Rico,Rio Grande,18.379998,...,1,Business,4,Multinational Corporation,0,0.0,General Electric factory in Rio Grande Puerto ...,Strikers,6,Explosives
12,1970,1,13,217,United States,1,North America,Washington,Seattle,47.610786,...,1,Business,7,Retail/Grocery/Bakery,0,0.0,"Fuson's Department Store, Seattle Washington",Black Nationalists,8,Incendiary
13,1970,1,14,217,United States,1,North America,Illinois,Champaign,40.116748,...,3,Police,22,"Police Building (headquarters, station, school)",0,1.0,Champaign Police Department,Black Nationalists,8,Incendiary
14,1970,1,15,218,Uruguay,3,South America,Montevideo,Montevideo,-34.891151,...,8,Educational Institution,49,School/University/Educational Building,0,0.0,"Secondary School, Chemistry Lab",Tupamaros (Uruguay),5,Firearms

In [ ]:
final_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 156530 entries, 0 to 165444
Data columns (total 23 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   year              156530 non-null  int64
 1   month             156530 non-null  int64
 2   day               156530 non-null  int64
 3   country_code      156530 non-null  int64
 4   country           156530 non-null  object
 5   region_code       156530 non-null  int64
 6   region            156530 non-null  object
 7   state             156530 non-null  object
 8   city              156147 non-null  object
 9   latitude          156530 non-null  float64
 10  longitude         156530 non-null  float64
 11  attack_type_code  156530 non-null  int64
 12  attack_type       156530 non-null  object
 13  target_type_code  156530 non-null  int64
 14  target_type       156530 non-null  object
 15  targsubtype_code  156530 non-null  int64
 16  targsubtype       156530 non-null  object
 17  killed            156530 non-null  int64
 18  wounded           156530 non-null  float64
 19  target            156530 non-null  object
 20  group             156530 non-null  object
 21  weapon_type_code  156530 non-null  int64
 22  weapon_type       156530 non-null  object
dtypes: float64(3), int64(10), object(10)
memory usage: 28.7+ MB

In [ ]:
#describing the data. This only describe the numerica data.
final_data.describe().transpose()

,count,mean,std,min,25%,50%,75%,max
year,156530.0,2003.269833,13.099673,1.970000e+03,1991.000000,2009.000000,2014.000000,2017.000000
month,156530.0,6.473392,3.388547,1.000000e+00,4.000000,6.000000,9.000000,12.000000
day,156530.0,15.600102,8.767431,1.000000e+00,8.000000,15.000000,23.000000,31.000000
country_code,156530.0,133.773040,114.042129,4.000000e+00,83.000000,104.000000,167.000000,1004.000000
region_code,156530.0,7.259056,2.898118,1.000000e+00,6.000000,8.000000,10.000000,12.000000
latitude,156530.0,23.617719,18.387246,-5.315461e+01,11.582880,31.505470,34.621521,74.633553
longitude,156530.0,-521.347010,217839.971049,-8.618590e+07,7.186509,43.492464,68.871958,179.366667
attack_type_code,156530.0,3.221216,1.927758,1.000000e+00,2.000000,3.000000,3.000000,9.000000
target_type_code,156530.0,7.943934,6.268913,1.000000e+00,3.000000,4.000000,14.000000,22.000000
targsubtype_code,156530.0,46.226602,30.285766,1.000000e+00,22.000000,34.000000,73.000000,113.000000
killed,156530.0,2.402900,11.770865,0.000000e+00,0.000000,0.000000,2.000000,1570.000000
wounded,156530.0,3.135725,36.825475,0.000000e+00,0.000000,0.000000,2.000000,8191.000000
weapon_type_code,156530.0,6.409129,2.165492,1.000000e+00,5.000000,6.000000,6.000000,13.000000

In [ ]:
#checking for unique values in each column.
final_data.nunique().sort_values()

attack_type_code        9
attack_type             9
weapon_type_code       12
region                 12
region_code            12
weapon_type            12
month                  12
target_type            21
target_type_code       21
day                    31
year                   47
targsubtype_code      112
targsubtype           112
killed                200
country               204
country_code          204
wounded               234
state                2757
group                3333
city                33578
longitude           45538
latitude            45822
target              80429
dtype: int64

In [ ]:
#shape of the final data
final_data.shape

(156530, 23)

## The final dataset is ready for visualization. Lets save it and Use it in TABLEAU for Visualization and Insight generation.

In [ ]:
#Saving the final cleaned dataset on my desktop
final_data.to_csv(r"C:\Users\Danish\OneDrive\Desktop\cleaned_data.csv")

# Moving to Tableau with the final csv file

# Conclusion

### 1. Death toll is 380712 in number.
### 2. Wounded toll is 496075 in number.
### 3. Total casualties are 876787 in numbers.
### 4. Total affected states accross the word is 2739.
### 5.Most affected country is Iraq followed by Pakistan.
### 6. Most affected region is Middle East and North Africa.
### 7. Bombing/Explosion was the most type of atack used followed by Armed Assault.
### 8. Most affected city is Baghdad.
### 9. Most affected State is Baghdad followed  by Northern Island.
### 10. Maximum number of attacks happened in 2015 (15776 attacks).
### 11. Civilians were mostly targeted followed by Millitary.
### 12. Private citizens and Propert were targeted the most.
### 13. Maximum wounded count was in year 2015(43787 counts).
### 14. Taliban did most number of attacks in 2015.
### 15. Death count was maximum in yer 2014(43734 counts).
### 16. Taliban was at the top in total number of attacks done till now.
### 17. Explosives were used the most followed by Firearms.
### 18. Iraq was attacked the most in the month of Nov.
### 19. Attacks count kept growing from 1970s till 2015. After 2015 a steep decline in the attacks by terrorist has been observed which is a very good sign for humanity.